@font-face {
  font-family: 'Dodo';
  src: url('./fonts/Dodo Rounded.woff2') format('woff2'),
  url('./fonts/Dodo Rounded.woff') format('woff'),
  url('./fonts/Dodo Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}